frontend healthz
    bind :80
    mode http
    monitor-uri /healthz

frontend k3s-frontend
    bind *:6443
    mode tcp
    option tcplog
    default_backend k3s-backend

backend k3s-backend
    mode tcp
    option tcp-check
    balance roundrobin
    default-server inter 10s downinter 5s
    server control-plane-0 [ip master-0]:6443 check
    server control-plane-1 [ip master-1]:6443 check
    server control-plane-2 [ip master-2]:6443 check
